body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  overflow: hidden;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px 20px;
  display: block;
  margin:0 auto;
}